.wrapper {
  display: flex;
  align-items: stretch;
}
.sidebar {
    background-color: #efefef;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.content-wrapper {
    background-color: #fff;
    padding: 10px;
}
#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}
a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}
#sidebar.active {
  margin-left: -150px;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #f57f25;
}
a[data-toggle="collapse"] {
  position: relative;
}
a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}
.sidebar, .sidebar-content, .sidebar.collapse.in {
  width: 160px;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -150px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }

}
#sidebarCollapse{
  border-radius: 14px;
  color: #777;
  background-color: #cdefab;
  border: 0;
  margin-left: -14px;
  position: absolute;
  width: 28px;
  height: 28px;
  font-size: 14px;
  padding: 0;
  line-height: 28px;
}
#sidebarCollapse span.abrir{
  display: none;
}
#sidebarCollapse span.cerrar{
  display: block;
}
#sidebarCollapse.active span.abrir{
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebarCollapse.active span.cerrar{
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.box-3d{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.editable{
  border: whitesmoke dotted 1px;
  border-radius: 5px;
  padding: 0 5px;
  cursor: text;
  background-color: rgba(255,255,255,0.15);
  z-index: 999;
}
.editable-img-white{
  border: black dotted 1px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.15);
}
.nav-editable{
  width: 2em;
  line-height: 1.42857143;
  top: 85%;
  z-index: 99999999;
  opacity: 0.75;
  padding: 3px 6px;
}
.editable-aceptar{
  left: 6em;
}
.editable-cancelar{
  left: 8.2em;
}
.d-none{
  display: none !important;
}
.position-relative{
  position: relative !important;
}
.position-absolute{
  position: absolute !important;
}
.ok{
   -webkit-animation-name: realizadoOk;
   -webkit-animation-duration: 0.7s;
   animation-name: realizadoOk;
   animation-duration: 0.7s;

}

@-webkit-keyframes realizadoOk {
  from {
    background-color: rgba(255,255,255,0.15);
  }
  3% {
    background-color: rgba(0,255,0,0.35);
  }
  to {
    background-color: rgba(255,255,255,0.15);
  }
}
@keyframes realizadoOk {
  from {
    background-color: rgba(255,255,255,0.15);
  }
  3% {
    background-color: rgba(0,255,0,0.35);
  }
  to {
    background-color: rgba(255,255,255,0.15);
  }
}

.ctnSelect{
  animation-name: sombraSelect;
  animation-duration: 0.1s;
  box-shadow: inset 0px 0px 4px 1px rgba(245, 127, 37,0.75);
  border: inset 2px #f57f25;
  border-top-width: 8px;
  border-top-color: rgba(245,127,37,0.75);
}

@keyframes sombraSelect {
  from {
    box-shadow: none;
    border: none;
    border-top-width: none;
    border-top-color: none;
  }
  to{
    box-shadow: inset 0px 0px 4px 1px rgba(245, 127, 37,0.75);
    border: inset 2px #f57f25;
    border-top-width: 8px;
    border-top-color: rgba(245,127,37,0.75);
  }
}

.ctnOk{
   animation-name: sombraOk;
   animation-duration: 1.5s;

}

@keyframes sombraOk {
  from {
    box-shadow: none;
  }
  30% {
    box-shadow: 0px 0px 4px 4px rgba(0,255,0,0.75);
  }
  to {
    box-shadow: none;
  }
}

.ctnError{
   animation-name: bordeError;
   animation-duration: 1.5s;

}

@keyframes bordeError {
  from {
    box-shadow: none;
  }
  30% {
    box-shadow: 0px 0px 4px 4px rgba(255,0,0,0.75);
  }
  to {
    box-shadow: none;
  }
}

.modal-backdrop{
  position:fixed;
  top:0;
  left:0;
  z-index:1040;
  width:100vw;
  height:100vh;
  background-color:#000
}
.modal-backdrop.fade{
  opacity:0
}
.modal-backdrop.show{
  opacity:.5
}
.file-attachment-btn__label {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
  cursor: inherit;
  opacity: 0;
}
.file-attachment-btn {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}
.site_logo{
  width: 67px;
  height: 67px;
}
