/* img.site_logo{
  width: 8em;
}
@media only screen and (min-width: 992px){
  .navbar-brand{
    margin-top: 35px;
    padding: 8px 23px;
  }
} */
ul.justify li{
  margin-left: 1.5em;
  /*text-indent: -1.5em; */
  list-style: initial;
}

.invalid-feedback {
  color:#f93154
}
.cbRadio{
  height: 40px;
  display: inline-flex;
}
.cbRadio i.fa{
  font-size: 24px;
  line-height: 40px;
  color:#f57f25;
}
.cbRadio span{
  font-size: 13px;
  line-height: 40px;
  padding-left: 0.3em;
}
